<span class="sr-only">{{addOnLabel}}</span>
<article class="container min-w-full flex items-center gap-4 py-3 px-4 rounded-lg border border-lightGray cursor-pointer" tabindex="0"
    [class.is-selected]="isSelected">

    <input class="custom-checkbox aspect-square flex-shrink-0" type="checkbox" [checked]="isSelected">

    <div>
        <h3 class="text-primary font-ubuntu-bold text-lg ">
            {{addOnName}}
        </h3>

        <p class="text-coolGray font-ubuntu-medium">{{addOnDescription}}</p>
    </div>
    <p class="ml-auto text-purplishBlue">+${{addOnPrice}}/{{isYearly? 'yr':'mo'}}</p>
</article>